/* 
    Created on : 23-Jan-2018, 12:54:55 AM
    Author     : SiskoVL
*/
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #00abe5;
    /*color: #005b96;*/
}
.jumbotron{
    background-color: #00abe5;
    color: white;
}
.btn{
    background-color: #00abe5;
}
.theh1{
    font-variant: small-caps;
    font-weight: bold;
}
.thep2{
    font-variant: small-caps;
    font-weight: bold;
    color: black;
}